---
import RadioButton from "../components/editor/RadioButton.astro";
import TextInput from "../components/editor/TextInput.astro";
import TitleView from "../components/TitleView.astro";
import EditorPanel from "../layouts/EditorPanel.astro";
import Layout from "../layouts/Layout.astro";

import Fonts from "../../public/title-fonts/fonts.json";
---

<Layout title="Welcome to Astro.">
	<main>
		<TitleView />
		<section id="editor">
			<EditorPanel width={3} height={2}>
				<h1>Top</h1>
				<TextInput placeholder="Top title text" variableid="title.top" />

				<h1>Middle</h1>
				<TextInput placeholder="Middle title text" variableid="title.middle" />

				<h1>Bottom</h1>
				<TextInput placeholder="Bottom title text" variableid="title.bottom" />
			</EditorPanel>
			<EditorPanel width={2} height={2}>
				<h1>Save</h1>
			</EditorPanel>
			<EditorPanel width={4} height={4}>
				<h1>Fonts & textures</h1>
				<div class="fonts-container">
					{
						Fonts.map((font) => (
							<RadioButton id={font.id} group="group1">
								<img
									height="40px"
									style="padding-block: 8px;"
									src={`/title-fonts/fonts/${font.id}/thumbnails/flat.png`}
								/>
							</RadioButton>
						))
					}
				</div>
			</EditorPanel>
			<EditorPanel width={1} height={1}>jaaj4</EditorPanel>
			<EditorPanel>jaaj5</EditorPanel>
			<EditorPanel>jaaj6</EditorPanel>
			<EditorPanel>jaaj7</EditorPanel>
			<EditorPanel>jaaj8</EditorPanel>
			<EditorPanel>jaaj9</EditorPanel>
			<EditorPanel>jaaj10</EditorPanel>
			<EditorPanel>jaaj11</EditorPanel>
			<EditorPanel>jaaj12</EditorPanel>
		</section>
	</main>
</Layout>
<script>
	import Editor from "../lib/Editor";

	const editor = Editor.get();
</script>
<style>
	main {
		margin: auto;
		padding-top: 3rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	#editor {
		display: grid;
		gap: 2rem;

		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

		margin-top: 6rem;
	}

	.fonts-container {
		display: grid;

		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
</style>
