---
import FontRadioButton from "../components/editor/FontRadioButton.astro";
import BackgroundSkybox from "../components/BackgroundSkybox.astro";
import TitleRowEdit from "../components/editor/TitleRowEdit.astro";
import TexturesList from "../components/editor/TexturesList.astro";
import TitleView from "../components/TitleView.astro";
import EditorPanel from "../layouts/EditorPanel.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import SubmitButton from "../components/SubmitButton.astro";
import Checkbox from "../components/Checkbox.astro";

import Fonts from "../../public/title-fonts/fonts.json";
---

<Layout title="Minecraft Update Title Editor">
	<BackgroundSkybox />
	<main>
		<TitleView />
		<section id="editor">
			<EditorPanel width={3} widthS={2}>
				<h1>Top</h1>
				<TitleRowEdit row_id="title.top" selected />

				<h1>Middle</h1>
				<TitleRowEdit row_id="title.middle" />

				<h1>Bottom</h1>
				<TitleRowEdit row_id="title.bottom" />
			</EditorPanel>
			<EditorPanel width={2} widthS={2}>
				<h1>Save</h1>
				<form id="save-form">
					<Checkbox id="eula-checkbox" required
						><p>
							I agree to <a
								href="https://www.minecraft.net/en-us/eula"
								target="_blank"
								style="color: inherit;">Mojang's EULA</a
							>
						</p></Checkbox
					>
					<SubmitButton id="save-button">Save</SubmitButton>
				</form>
			</EditorPanel>
			<EditorPanel width={2} widthS={1}>
				<h1>Fonts</h1>
				<div id="fonts-list">
					{Fonts.map((font) => <FontRadioButton font_id={font.id} />)}
				</div>
			</EditorPanel>
			<EditorPanel width={3} widthS={1}>
				<h1>Textures</h1>
				<TexturesList />
			</EditorPanel>
			<EditorPanel width={5} widthS={2}>
				<Footer />
			</EditorPanel>
		</section>
	</main>
</Layout>
<script>
	import Editor from "../lib/Editor";

	const editor = Editor.get();
	const save_form = document.querySelector("#save-form") as HTMLFormElement;

	save_form.onsubmit = (_ev) => {
		var link = document.createElement("a");
		link.download = "MUTE-Title.png";
		link.href = editor.download_url;
		link.click();

		return false;
	};
</script>
<style>
	main {
		padding-block: 3rem;
		width: 100%;
		color: white;
		font-size: 14px;
		line-height: 1.6;
	}

	#editor {
		display: grid;

		width: 90%;
		margin: auto;

		gap: 2rem;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

		margin-top: 1rem;
	}

	#save-form {
		display: flex;
		flex-direction: column;
		justify-content: end;

		height: 100%;
	}

	#fonts-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (min-width: 700px) {
		#editor {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media screen and (min-width: 1100px) {
		main {
			font-size: 20px;
		}

		#editor {
			width: 80%;

			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		}

		#save-form {
			padding-bottom: 24px;
		}
	}

	@media screen and (min-width: 2000px) {
		#editor {
			width: 50%;
		}
	}
</style>
