---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import ContactObfuscator from "./ContactObfuscator.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
  <div>
    {t("footer.text")}
    <a href={`/${lang}/privacy/`} style="display: inline; color: inherit"
      >{t("footer.links.privacy")}</a
    >
    <ContactObfuscator href="mailto:gasdev.lp@gmail.com"
      >{t("footer.links.contact")}</ContactObfuscator
    >
  </div>
  <a href="https://github.com/GaspardCulis/MUTE">
    <img
      src="/icons/github-mark-white.svg"
      alt="Github Icon"
      width="24.5"
      height="24"
    />
  </a>
</footer>
<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 32px;
  }
</style>
