---

---

<div class="footer">
  <div>© 2024 JaajCorp, All rights reserved.</div>
  <a href="https://github.com/GaspardCulis/MUTE">
    <img src="/icons/github-mark-white.svg" alt="Github Icon" height="24px" />
  </a>
</div>
<style>
  .footer {
    display: flex;
    justify-content: space-between;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 32px;
  }
</style>
