---
export interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div class="padding">
  <div class="outline">
    <input id={id} class="submit-button" type="submit" />
    <label for={id}>
      <slot />
    </label>
  </div>
</div>
<style>
  .padding {
    min-height: 70px;
    margin-inline: 2px;
    margin-bottom: -6px;
  }

  .outline {
    outline: 4px solid #211c21;
    border-bottom: 8px solid #214d10;
    padding: 4px;
  }

  .padding:has(input:active) {
    margin-bottom: -14px;
    margin-top: 8px;
  }

  .outline:has(input:active) {
    border-bottom: none;
  }

  label {
    text-align: center;
    user-select: none;
  }

  input {
    display: none;
    outline: 4px solid red;
  }

  input:valid + label {
    width: 100%;

    display: inline-block;
    color: white;
    background-color: #3a8529;
    outline: 4px solid #639e52;
    cursor: pointer;
  }

  input:invalid + label {
    background-color: red;
  }
</style>
