---

---

<div id="title-view"></div>
<script>
  import * as THREE from "three";
  import {
    createRenderer,
    createScene,
    createTitleText,
  } from "../lib/TitleRenderer.ts";
  import Font from "../lib/Font";

  const font = await Font.load("minecraft-ten-v2");

  const texture_loader = new THREE.TextureLoader();

  const title_group = new THREE.Group().add(
    await createTitleText(
      [{ text: "minecraft", texture: "cracked" }],
      texture_loader,
      {
        font,
        type: "top",
      },
    ),
    await createTitleText([{ text: "1.20", texture: "flat" }], texture_loader, {
      font,
      type: "small",
    }),
    await createTitleText(
      [
        { text: "the", texture: "deep_dark" },
        { text: "wild", texture: "mangrove" },
        { text: "update", texture: "deep_dark" },
      ],
      texture_loader,
      {
        font,
        type: "bottom",
      },
    ),
  );

  const container = document.querySelector("#title-view") as HTMLDivElement;

  const w = container.clientWidth;
  const h = container.clientHeight;

  const renderer = createRenderer(container);
  const [scene, camera] = createScene(w, h);

  scene.add(title_group);

  renderer.render(scene, camera);
</script>
<style>
  #title-view {
    width: 100%;
    height: 200px;
  }
</style>
