---

---

<div id="title-view"></div>
<script>
  import * as THREE from "three";
  import {
    createRenderer,
    createScene,
    createTitleText,
  } from "../lib/TitleRenderer.ts";
  import Font from "../lib/Font";
  import Editor from "../lib/Editor";

  const editor = Editor.get();
  const font = await Font.load("minecraft-ten-v2");

  const texture_loader = new THREE.TextureLoader();

  async function generateTitle(scene: THREE.Scene): Promise<void> {
    console.log("generating title");

    scene.clear();

    const top_group = await createTitleText(
      [
        {
          text: editor.variables["title.top"].get().toLowerCase(),
          texture: "cracked",
        },
      ],
      texture_loader,
      {
        font,
        type: "top",
      },
    );

    const middle_group = await createTitleText(
      [
        {
          text: editor.variables["title.middle"].get().toLowerCase(),
          texture: "flat",
        },
      ],
      texture_loader,
      {
        font,
        type: "small",
      },
    );

    const bottom_group = await createTitleText(
      [
        {
          text: editor.variables["title.bottom"].get().toLowerCase(),
          texture: "trails_and_tales",
        },
      ],
      texture_loader,
      {
        font,
        type: "bottom",
      },
    );

    scene.add(new THREE.Group().add(top_group, middle_group, bottom_group));
  }

  const container = document.querySelector("#title-view") as HTMLDivElement;

  const w = container.clientWidth;
  const h = container.clientHeight;

  const renderer = createRenderer(container);
  const [scene, camera] = createScene(w, h);

  await generateTitle(scene);

  editor.variables["title.top"].on("changed", (_v) => generateTitle(scene));
  editor.variables["title.middle"].on("changed", (_v) => generateTitle(scene));
  editor.variables["title.bottom"].on("changed", (_v) => generateTitle(scene));

  const interval = 1 / 30;
  const clock = new THREE.Clock(true);
  let delta = 0;
  function render() {
    requestAnimationFrame(render);

    delta += clock.getDelta();

    if (delta > interval) {
      renderer.render(scene, camera);
      delta = delta % interval;
    }
  }
  render();
</script>
<style>
  #title-view {
    width: 100%;
    height: 200px;
  }
</style>
