---

---

<div id="title-view"></div>
<script>
  import * as THREE from "three";
  import {
    createRenderer,
    createScene,
    createTitleText,
  } from "../lib/TitleRenderer.ts";
  import Font from "../lib/Font";
  import Editor from "../lib/Editor";

  const editor = Editor.get();
  const font = await Font.load("minecraft-ten-v2");

  editor.variables["title.top"].on("updated", (v) => {
    console.log(`New value: ${v}`);
  });

  const texture_loader = new THREE.TextureLoader();

  const title_group = new THREE.Group().add(
    await createTitleText(
      [{ text: "minecraft", texture: "cracked" }],
      texture_loader,
      {
        font,
        type: "top",
      },
    ),
    await createTitleText(
      [{ text: "update", texture: "flat" }],
      texture_loader,
      {
        font,
        type: "small",
      },
    ),
    await createTitleText(
      [{ text: "title editor", texture: "trails_and_tales" }],
      texture_loader,
      {
        font,
        type: "bottom",
      },
    ),
  );

  const container = document.querySelector("#title-view") as HTMLDivElement;

  const w = container.clientWidth;
  const h = container.clientHeight;

  const renderer = createRenderer(container);
  const [scene, camera] = createScene(w, h);

  scene.add(title_group);

  renderer.render(scene, camera);
</script>
<style>
  #title-view {
    width: 100%;
    height: 200px;
  }
</style>
