---
export interface Props {
  width?: number;
  widthS?: number;
}

const { width, widthS } = Astro.props;
---

<div class="panel">
  <slot />
</div>

<style
  define:vars={{
    gridWidth: width,
    gridWidthS: widthS,
  }}
>
  .panel {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    background-color: #4a494a;
    outline: 4px solid #211c21;
    border-block: 4px solid #5a595a;
  }

  @media screen and (min-width: 700px) {
    .panel {
      grid-column: span var(--gridWidthS) / auto;
    }
  }

  @media screen and (min-width: 1100px) {
    .panel {
      grid-column: span var(--gridWidth) / auto;
    }
  }
</style>
<style is:global>
  .panel h1 {
    all: unset;
    margin-bottom: 0.5rem;
  }
</style>
