---
export interface Props {
  width?: number;
  height?: number;
}

const { width, height } = Astro.props;
---

<div class="panel">
  <slot />
</div>

<style define:vars={{ gridWidth: width, gridHeight: height }}>
  .panel {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    background-color: #4a494a;
    outline: 4px solid #211c21;
    border-block: 4px solid #5a595a;
  }

  @media screen and (min-width: 80rem) {
    .panel {
      grid-column: span var(--gridWidth) / auto;
      grid-row: span var(--gridHeight) / auto;
    }
  }
</style>
<style is:global>
  .panel h1 {
    all: unset;
    margin-bottom: 0.5rem;
  }
</style>
