---
import BackgroundSkybox from "../components/BackgroundSkybox.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<BackgroundSkybox />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Minecraft Regular";
		src: url("fonts/MinecraftRegular.otf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "Minecraft Ten";
		src: url("fonts/MinecraftTen.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	body,
	html {
		height: 100%;
		margin: 0px;

		font-family: Minecraft Regular;
	}
</style>
