---
import { SEO } from "astro-seo";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<SEO
			title="Minecraft Update Title Editor"
			description="Create and generate your own 3D Minecraft update logos with custom fonts and textures, looking just like the official ones."
			openGraph={{
				basic: {
					title: "Minecraft Update Title Editor",
					type: "website",
					image: "https://minecraft-update-title-editor.vercel.app/logo.png",
				},
			}}
		/>

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-CBW27WLEFK"
		></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-CBW27WLEFK");
		</script>
		<meta name="google-adsense-account" content="ca-pub-6558008609014707" />
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6558008609014707"
			crossorigin="anonymous"></script>
	</head>
	<body>
		<slot />
		<style is:global>
			@font-face {
				font-family: "Minecraft Regular";
				src: url("/fonts/MinecraftRegular.otf") format("truetype");
				font-weight: normal;
				font-style: normal;
			}

			@font-face {
				font-family: "Minecraft Ten";
				src: url("/fonts/MinecraftTen.ttf") format("truetype");
				font-weight: normal;
				font-style: normal;
			}

			body,
			html {
				height: 100%;
				margin: 0px;

				font-family: Minecraft Regular;
			}
		</style>
	</body>
</html>
